{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <h1>Weather And Tourism App</h1>

        <form method="get" class="form-box">
            <input type="text" name="city" placeholder="Enter city" required>
            <button type="submit">Search</button>
        </form>

        {% if weather %}
            <h2>{{ weather.city }}, {{ weather.country }}</h2>

            <div class="weather-box">
                <p>🌡 Temperature: {{ weather.temperature }}°C</p>
                <p>🌤 Weather: {{ weather.weather }}</p>
                <p>🕒 Local Time: {{ weather.local_time }}</p>
            </div>

            <h3>Tourism Place</h3>
            <img src="{{ weather.city_image }}" alt="City Image" class="city-img">

            <h3>Country Flag</h3>
            <img src="{{ weather.country_flag }}" alt="Country Flag" class="flag-img">

        {% else %}
            <p class="error">City not found. Try again.</p>
        {% endif %}
    </div>

</body>
</html>
